<footer class="col-sm-12">
    <div class="mofooter">
      <div class="icons">
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-twitter.svg"><a target="_blank" href="{{ site.twitter }}">Twitter</a></div>
        </div>
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-irc.svg"><a target="_blank" href="{{ site.chat }}">Chat</a></div>
        </div>
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-email.svg"><a target="_blank" href="mailto:{{ site.email }}">Email</a></div>
        </div>
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-github.svg"><a target="_blank" href="https://github.com/{{ site.github.repo }}">Github</a></div>
        </div>
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/cc-logo.svg"><a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">License</a></div>
        </div>
      </div>
      <div class="footer-content">
        <p><a href="{{ site.baseurl }}/">{{ site.title }}</a> workshop series by <a target="_blank" href="https://tomesh.net">Toronto Mesh</a></p>
        <p>{{ site.description }}</p>
      </div>
    </div>
  </footer>
