<div class="sidebar-header">
  <a href="{{ site.baseurl }}/">{{ site.title }}</a>
</div>

<ul class="sidebar-menu list-unstyled">
  {% assign item = site.pages | where: "path", "contents.html" | first %}

{% for path in item.contents %}
  {% assign subpage = site.articles | where: "path", path | first %}
  <li{% if page.url contains subpage.url %} class="selected"{% endif %}>
    <a href="{{ subpage.url | prepend: site.baseurl }}">{% if subpage.module %}{{ subpage.module }}.{% endif %} {{ subpage.title }}</a>
      {% if page.url contains subpage.url %}
        {% if subpage.contents %}
          {% include contents.html item=subpage %}
        {% endif %}
      {% endif %}
  </li>
{% endfor %}
</ul>

<footer>
  <i class="fa fa-archive" aria-hidden="true"></i> <a href="https://github.com/{{ site.github.repo }}/releases/latest">Download workshop materials</a>
</footer>
